

.Datos
{
    font-family: Arial;
    word-spacing: 2px;
    color:#1b1b1b;
   
    text-decoration: underline 1px solid #57646D;;
}
.texto
{
    font-family: Arial;
    
    text-align:justify;
    
}
.texto2
{
    font-family: Arial;
    font-weight: bolder;
    background-color:#C5CCD2;
    font-size: 15px;
    
}

.texto1
{
    font-family: Arial;
    font-weight: bolder;
    background-color:#C5CCD2;
    font-size: 15px;
    
}
strong
{
    color:#5496BF;
}
h1
{
    font-family: arial;
  
    font-weight: bolder;
    color:#57646D;

}

.into 
{
    color:#3ca0d6;
}

h3
{
    font-weight: bolder;
    font-family: arial;
    font-style: italic;
    background-color:#ACB8BE;
    color:#6D7B84;
}

.texto4
{   
    font-family: arial;
    background-color: #ffffff;
    font-weight: bold;
    text-align: right;
    font-style: italic;
    
}

.linea
{
    border-top: 1px solid black;
}